@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

body{
  font-family:  "Montserrat", sans-serif;
  width: 100%;
}

.container-top{
  padding-top: 0px;
  display: flex;
  background-color: F3F8FF; 
  justify-content: space-between;
  margin-top: 0px;
  height: 30px;
  padding-bottom: 40px;
}

.tel a{
  text-decoration: none;
  color: rgb(26, 24, 24);
  font-size: 1rem;
}

.tel{
  margin-left: 20px;
}

.social-media{
  margin-right: 20px;
}

.social-media li{
  list-style: none;
  display: inline;
  padding-left: 10px;
  font-size: 1rem;
}

.social-media a{
  text-decoration: none;
  cursor: pointer;
}
.social-media svg{
  color: rgb(26, 24, 24);
}

.container-middle{
display: flex;
justify-content: space-between;
background-image: url(../assets/Background.png);
background-repeat: no-repeat;
background-position-x: 25%;
background-color: #FFD4D0;
grid-template-columns: 1fr 1fr 1fr;

}

.navbar-inverse{
  background-color: transparent !important;
  padding-top: 40px;
  border: none;
  
}

.logo{
  padding-inline: 15px;
}
.logo img{
  
  max-width: 150px;
  max-height: 150px;
}

.navbar-nav>li>a{
  font-size: 18px;
  font-weight:bold;
}

.navbar-inverse .navbar-nav>li>a{
  color:#1F1F1F;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color:  #1F1F1F;
  width:50px;
  height: 3px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
  height: 40px;
}

.button-black{
  background-color: #1F1F1F;
  color: white;
  font-size: 1.4rem;
  padding: 10px 10px 10px 10px;
  border-radius:15px;
  margin: 5px;
  height: 50px;
}

.button-white{
  background-color: white;
  color: #1F1F1F;
  font-size: 1.4rem;
  padding: 10px 10px 10px 10px;
  border-radius:15px;
  margin: 5px;
  height:50px;
}


/* .navbar-collapse li{
  display: inline;
  list-style: none;
}

.navbar-collapse a{
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
} */


.hero-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
  align-items: flex-end; 
  background-color: #FFD4D0;
  grid-template-columns: 1fr 1fr;
  
  
}

.info{
  margin-top: 5%;
  padding-inline-start: 5%;
  padding-inline-end: 10%;
  width:53%;
  padding-bottom: 5%;
  
}
.info p{
  font-size: 16px;
  font-weight: 400;
  text-align: start;
}

.info h1{
  font-size: 48px;
  font-weight: bold;
  color: red;
  text-align: justify;
}
.info h2{
  margin-top: 7%;
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: justify;
}



.profile-pic{
  background-image: url(../assets/Image.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 43%;
}

.profile-pic img{
  width: -webkit-fill-available;
}
.buttons{
  display: flex;
  gap:10px;
}



.about{
  text-align: center;
  background-color: #1F1F1F;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  background-image: url(../assets/Background\ \(1\).png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 50%;
  padding-bottom: 30px;
}

.about>.title{
  padding: 30px;
  color: white;
}

.about p{
  font-size: 16px;
  font-weight:lighter;
}

.about h2{
  font-size: 36px;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  color: white;
}

.flex-container h2{
  font-size: 48px;
  font-weight: bold;
  color: #FFD4D0;
}

.flex-container p{
  font-size: 16px;
  font-weight: lighter;
}

.service{
  margin-top: 50px;
}
.services{
  text-align: center;
  padding-inline: 20%;
}

.services>.title{
  padding: 30px;
}

.services p{
  font-size: 14px;
  font-weight: 400;
}

.services h2{
  font-size: 36px;
}

.services-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  flex: 1 1 0px;
  flex-direction: row;
  width: 100%; 
  height: 75%;

}

.services-container>div{
  flex: 1 1 0;
  width: 0;
}

.services-container>div>img{
  width:54px;
  height: 54px;
}
.services-container p{
  font-size: 14px;
}

.services-container h2{
  font-size: 20px;
  font-weight: bold;
}

.techtools{
 
  justify-content: space-between;
  gap:3px;
}
.techtools img{
  max-width:35px;
  height: auto;
}

.portfolio{
  margin-top: 50px;
}
.portfolios{
  text-align: center;
  padding-inline: 30%;
  background-color: #FFD4D0;
  position: relative;
  padding-bottom: 150px;
  
}

.portfolios>.title{
  padding: 30px;
}

.portfolio-container img{
  min-width: 100px;
  max-width:100%;
}
.portfolios p{
  font-size: 14px;
  font-weight: 400;
}

.portfolios h2{
  font-size: 36px;
}

.portflo{
  position: absolute;
  margin-top: -150px;
  margin-bottom: 50px;

 
}
.portfolio-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
 padding-inline-start: 5%;
 padding-inline-end: 5%;
}



.portfolio-container p{
  font-size: 14px;
}

.portfolio-container h2{
  font-size: 20px;
  font-weight: bold;
}



.tabs {
  overflow: hidden;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.tab-btn {
  flex: 1;
  padding: 5px 5px;
  background: #1F1F1F;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  border-radius: 20px;
}

.tab-btn:hover {
  background: #FFD4D0;
}

.tab-btn.active {
  background: red;
}

.tab-content {
  padding: 20px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.clear-footer{
  position: relative;
}

footer{
  bottom: 0;
  left:0;
background-color: #1F1F1F;
color: white;
margin-top: 100vh;
display: flex;
width: 100%;
justify-content: space-around;
text-align: center;
vertical-align: middle;
}

footer p{
  font-size: 10px;
  font-weight: lighter;
}

footer a{
  text-decoration: none;
  font-size: 10px;
  color: white;
  
}

@media only screen and (max-width: 1080px){
  .container-middle{
    display: flex;
    justify-content: space-between;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position-x: 12%;
    background-color: #FFD4D0;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -20px;
    }

    .navbar-toggle {
      position: relative;
      float: right;
      padding: 15px 14px;
      margin-right: 0%;
      margin-top: -10px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
  }

  .logo img{
  
    max-width: 120px;
    max-height: 120px;
    padding: 0px;
  }
  .logo{
    padding-inline: 0px;
  }

  #myNavbar>.button-black{
    font-size: 16px;
    width:90%;
    padding: 1px !important;
    height: 33px;
    
  }
  .hero-section{
  display:flex;
  background-color: #FFD4D0;
  flex-wrap: wrap-reverse;
  }
  .info{
  padding-inline-start: 5%;
  padding-inline-end: 5%;
    width:100%;
  }

  .info p{

    font-size: 14px;
    font-weight: 400;
  }

  .info h1{
    margin-top: 0%;
    font-size: 30px;
  }

  .info h2{
    margin-top: -3%;
    font-size: 30px;
  }

  .button-black,.button-white{
    margin-top: -2%;
width: 30%;
margin-bottom: 1%;
  }

  .profile-pic{
    width: 100%;
  }

  .about{
    text-align:center;
    background-color: #1F1F1F;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    background-image: url(../assets/Background\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 50%;
    padding-bottom: 30px;
  }
  .about>.title{
    padding: 10px;
    color: white;
  }
  
 .about p{
  text-align: center;
  font-size: 12px;
    font-weight: 400;
 }
  
  .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-container h2{
    font-size: 30px;
  }

  .flex-container p{
    font-size: 10px;
  }
  .services-container{
    display: block;
    align-items: center;
    flex-basis: 1;

  }
  .services-container>div{
    width: 95%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 5%;
    
  }
  .services{
    text-align: center;
    padding-inline: 5%;
  }
  
  .services>.title{
    padding: 0px;
  }
  
  .services p{
    font-size: 14px;
    font-weight: 400;
  }

  .portfolios{
    text-align: center;
    padding-inline: 3%;
    background-color: #FFD4D0;
    
  }
  .tabs {
    overflow: auto;
    scroll-behavior: auto;
    display: inline-flex;
     max-width: 100%;
  }
  
  .tab-btn {
    padding: 5px 5px;
    background: #1F1F1F;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: background 0.3s;
    border-radius: 0px;
    height: 40px;
    border: 1px solid #FFD4D0;
  }



  .portflo{
    position: absolute;
    margin-top: -180px;
  padding-bottom: 50px;
   
  }
  
  .portfolio-container{
    display:unset;
  }
  .portfolio-container > div{
    float:left; 
    display:inline; 
    width: 49%;
    padding-inline: 2%;
    margin-top: 0;
  }

  .portfolio-container p{
    font-size: 10px;
  }
  
  .portfolio-container h2{
    font-size: 16px;
    font-weight: bold;
  }
  .portfolio-container img{
    min-width: 100px;
    max-width:100%;
  }

}
